@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Joongnajoche";
    src: url(../../public/fonts/중나좋체\ Light.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: "Joongnajoche";
    src: url(../../public/fonts/중나좋체\ Medium.ttf);
    font-weight: 700;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold
}

section {
  @apply w-full h-dvh pt-[100px]
}